/* here cdn fonts */
@import url('https://fonts.cdnfonts.com/css/made-tommy-outline');

@import "tailwindcss";

@theme {
    --font-madetommy: 'MADE TOMMY', sans-serif;
    --breakpoint-sm: 36rem;   /* 576px */
    --breakpoint-md: 48rem;   /* 768px */
    --breakpoint-lg: 62rem;   /* 992px */
    --breakpoint-xl: 75rem;   /* 1200px */
    --breakpoint-xxl: 87.5rem; /* 1400px */
    --breakpoint-2xxl: 106.25rem; /* 1650px */
    --color-primary: #e561dc;
    --color-blue: #4072FA;
    --color-light-border: #3C3C3C;
}

.container {
  @apply mx-auto px-4 sm:px-0 
    sm:max-w-[33.75rem]   /* 540px */
    md:max-w-[45rem]      /* 720px */
    lg:max-w-[60rem]      /* 960px */
    xl:max-w-[71.25rem]   /* 1140px */
    xxl:max-w-[75rem]; /* 1340px (Custom) */
}


@layer utilities {
  /* .mask:after {
    content: "";
    display: block;
    width: 100%;
    height: 100px;
    position: fixed;
    left: 0;
    bottom: -100px;
    top: 0px;
    background: linear-gradient(to top, transparent 1%, #131313 90%);
    z-index: 99;
  } */
}

@layer utilities {
  .mask-to-bottom:after {
    content: "";
    display: block;
    width: 100%;
    height: 120px;
    position: fixed;
    left: 0;
    bottom: 0px;
    background: linear-gradient(to top, transparent 1%, red 80%);
    z-index: 99;
  }
}


.mobileprofile{
  background-image: url('../images/mobilebg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

}

.price-header{
  background-image: url('../images/experience.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
@media (max-width:767px) {
  .sortby {
    width: 126px;
  }
  .sortby button{
    width: 126px;
  }
}
.sortby svg *{
  transition: .2s all linear;
}
.sortby:hover svg *{
  fill: #E561DC !important;
}
.sortby button{
  white-space: nowrap;
}


.upgradebtn svg *{
  transition: .2s all linear;
}
.upgradebtn:hover svg *{
  fill: #E561DC !important;
}